{
    "refresh_mins": 60,
    "users": [
        {
            "username": "Apollo username (the @ handle, e.g. bleood)",
            "id": "Discord user ID",
            "token": "Discord bot token",
            "app_id": "Discord app ID"
        }
    ]
}
